.header{
  position: relative;
    nav{
     padding: 1rem ;
    }
    &__logo{
        img{

        }
    }
    &__toggle{ 
      
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before{
        content: "";
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: $DarkBlue;
        transform: translateY(-10px);
        box-shadow: 0 10px $DarkBlue;
        transition: 0.5s linear;
      }
      &::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: $DarkBlue;
        transform: translateY(10px);
        transition: 0.3s linear;
      }
       
    }
    &__menu{
      z-index: 10;
      display: none;
      background: white;
      padding: 2.6rem;
      position: absolute;
      width: calc(100% - 8rem);
      left: 50%;
      transform: translateX(-50%);
      a{
        color: $DarkBlue;
        padding: 1rem;
        font-size: 1.4rem;
        display: block;
        text-align: center;
      }
    }
    &__link{
      a{
        position: relative;
        color: $GrayishBlue;
        font-size: $font-sm;
        &:not(:last-child){
          margin-right: 32px;
        }
        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          
          left: 0;
          bottom: -23px;
        }
        &:hover{
          color: $DarkBlue;
          &::before{
            background-color: $LimeGreen;
          }
        }
       
      }
    }
   
}

header nav.active .header__toggle::before{
  transform: translateY(0) rotate(45deg) !important;
  box-shadow: 0 0 $DarkBlue;
}
header nav.active .header__toggle::after{
  transform: translateY(0) rotate(-45deg) !important;
  
}
header nav.active .header__toggle .overlay{
  position: fixed;

  inset: 62px 0 0 0;
  background-image: linear-gradient($DarkBlue, transparent);
  transition:all linear;
  transition: height .5s, width .5s ;
 
}
.header__menu.active{
  display: block;
}